@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}
.head{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid rgb(255, 255, 255);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    background-color: black;
    color: white;
}
.colorcode{
    margin-right: 20px;
}
.sticky{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
  }
#btn{
    width: 200px;
    height: 60px;
    font-size: 24px;
    font-weight: 600;
    background-color: black;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    color: aliceblue;

}
#btn:hover{
    background-color: white;
    color: black;
    transition: 0.3s;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.bg{
    height:100vh;
    width:100vw;
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}